* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    background: white;

    font-family: Arial, Helvetica, sans-serif;
}

.page-bg {
    position: fixed;
    inset: 0;
    /* 用来设置全屏背景，就是top，right这些的缩写*/

    background-image: url("../assets/images/background.jpg");
    background-size: cover;
    background-position: center;

    opacity: 0; /*先隐藏背景图片，后续用动画把透明度调到1才显现*/

    transition: opacity 2s ease;
}

.page-bg.show {
    opacity: 1;
}

.title {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 999;

    transform: translate(-50%, -50%);
    transform-origin: center center; /*控制移动的点，所有移动变化都由中心点移动*/

    font-size: 18vw;
    font-weight: 900;

    background-image: url("../assets/images/background.jpg");
    background-size: cover;
    background-position: center;

    color: transparent;/*这两句话的作用是把文字调成透明，
    然后让图片内嵌至文字，以达到只有文字内部显示图片的效果
    */
    background-clip: text;

    transition:
        top 2s ease,
        transform 2s ease,
        font-size 2s ease,
        color 1s ease,
        filter 2s ease;
}

.title.small {
    top: 80px;
    font-size: 70px;
    transform: translateX(-50%);
}

.title.white {
    background-image: none;
    color: white;
    filter: drop-shadow(0 4px 12px rgba(0, 0, 0, 0.45));
}